include README.md
include README.rst
include AUTHORS.rst
include HISTORY.rst
include LICENSE
include Makefile
include tox.ini
include mop/*.ui
include screenshot.png
include requirements.txt
recursive-include data *.desktop.in
