[Desktop Entry]
Type=Application
Name=Mop
GenericName=MP3 tag editor
Comment=A GTK+ MP3 tag editor
Exec=mop "%f"
Terminal=false
MimeType=audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3
Categories=GTK;Audio;Utility;AudioVideoEditing;
# TODO: https://www.freedesktop.org/wiki/Specifications/startup-notification-spec/
StartupNotify=false
StartupWMClass=
# TODO
Icon=
Keywords=
